.bookable-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  gap: 1rem;

  .bookable-item {
    background-color: green;

    .label {
      color: red;
    }

    .current {
    }

    .next {
    }
  }
}
